### This script contains the following points:
1. Exporting PKL DataFrame 'orders_products_combined.pkl'
2. Anwers to Task 4.6, No. 3-9

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Defining path
path = r'C:\Users\nukis\Documents\Instacart Basket Analysis'

#### Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [3]:
# Importing 'orders_products_combined.pkl'

df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196.0,1.0,0.0,both
1,2539329,1,1,2,8,-1.0,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,-1.0,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,-1.0,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,-1.0,26405.0,5.0,0.0,both

#### Q4. Check the shape of the imported dataframe (it should be the same as the one you exported — always check!).

In [5]:
df_ords_prods_comb.shape

(32640698, 10)

#### Yes. It is the same.

#### Q5. Determine a suitable way to combine the 'orders_products_combined' dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
# Importing 'products_cleaned.csv'
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [7]:
df_prods_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods_cleaned.shape

(49672, 5)

#### Merging 2 DataFrames: 'orders_products_combined.pkl' and 'products_cleaned.csv'.

In [9]:
# Dropping '_merge' column from 'orders_products_combined.pkl'
df_ords_prods_comb = df_ords_prods_comb.drop(columns = ['_merge'])

In [10]:
df_ords_prods_comb.shape

(32640698, 9)

In [12]:
# Merging
df_ords_prods_merged = df_ords_prods_comb.merge(df_prods_cleaned, on = 'product_id', indicator = True)

#### Q6. Confirm the results of the merge using the merge flag.

In [13]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,-1.0,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both

In [14]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
df_ords_prods_merged.shape

(32404859, 14)

#### Q7. Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [16]:
# Import to PKL
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))